<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YT-generator</title>
</head>
<body>
<h1>YT-config-generator</h1>
<h2>Введите желаемые значения для теста, после чего нажмите на "Загрузить" и архив с конфигурацией загрузиться на
    компьютер.</h2>
<form>
    <fieldset>
        <label>Файл со спецификацией OpenApi
            <input name="file" type="file"/>
        </label>
    </fieldset>
    <fieldset>
        <label>Адрес тестируемого сервиса
            <input name="target host" type="text"/>
        </label><br>
        <label>Длительность теста
            <input name="duration" type="text"/>
        </label><br>
        <label>Токен аутентификации
            <input name="authentification token" type="text"/>
        </label><br>
        <label>Тип нагрузки (rps или instances)
            <input name="load type" type="text"/>
        </label><br>
        <label>Схема нагрузки (const, line или step)
            <input name="schedule" type="text"/>
        </label><br>
        <label>Запросы в секунду
            <input name="RPS" type="number"/>
        </label><br>
        <label>Запросы в секунду при запуске
            <input name="RPS start value" type="number"/>
        </label><br>
        <label>Запросы в секунду в конце
            <input name="RPS end value" type="number"/>
        </label><br>
        <label>Шаг запросов в секунду
            <input name="RPS step" type="number"/>
        </label><br>
        <label>Количество одновременных потоков
            <input name="number of instances" type="number"/>
        </label><br>
    </fieldset>
    <fieldset>
        <label>Добавить авто-остановку теста при появлении ошибок
            <input name="enable autostop" type="checkbox"/>
        </label><br>
        <fieldset>
            <label>Http-код остановки
                <input name="autostop http code" type="text"/>
            </label><br>
            <label>Количество/процент http-кодов в ответах
                <input name="autostop http limit" type="text"/>
            </label><br>
            <label>Окно http-кодов
                <input name="autostop http window" type="text"/>
            </label><br>
        </fieldset>
        <fieldset>
            <label>Net-код остановки
                <input name="autostop net code" type="text"/>
            </label><br>
            <label>Количество/процент net-кодов в ответах
                <input name="autostop net limit" type="text"/>
            </label><br>
            <label>Окно net-кодов
                <input name="autostop net window" type="text"/>
            </label><br>
        </fieldset>
        <fieldset>
            <label>Время ответа сервера
                <input name="autostop response time" type="text"/>
            </label><br>
            <label>Окно времени ответа
                <input name="autostop time window" type="text"/>
            </label><br>
        </fieldset>
    </fieldset>
<button type="submit">Загрузить</button>
</form>
</body>
</html>