<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>YT-generator</title>
</head>
<body>
<h1>YT-config-generator</h1>
<h2>Введите желаемые значения для теста, после чего нажмите на "Загрузить" и архив с конфигурацией загрузиться на
    компьютер.</h2>
<hr/>
<h3>Большинство полей можно не заполнять (тогда применяться настройки по умолчанию).</h3>
<form enctype="multipart/form-data" th:action="@{/ui/generate}" th:method="post" th:object="${generationRequest}">
    <fieldset>
        <label>
            <input accept=".json,.yaml,.yml" name="file" required type="file"/>
        </label>Файл со спецификацией OpenApi
    </fieldset>
    <fieldset>
        <label>
            <input placeholder="127.0.0.1:8080" required th:field="*{targetHost}" type="text"/>
        </label>Адрес тестируемого сервиса<br>
        <label>
            <input th:field="*{duration}" type="text"/>
        </label>Длительность теста<br>
        <label>
            <input th:field="*{authToken}" type="text"/>
        </label>Токен аутентификации<br>
        <label>
            <select th:field="*{loadType}">
                <option value="rps">RPS (запросы в секунду)</option>
                <option value="instances">Instances (активные пользователи)</option>
            </select>
        </label>Тип нагрузки (rps или instances)<br>
        <label>
            <select th:field="*{schedule}">
                <option value="const">Константная нагрузка</option>
                <option value="line">Линейная нагрузка</option>
                <option value="step">Пошаговая нагрузка</option>
            </select>
        </label>Схема нагрузки<br>
        <label>
            <input th:field="*{rps}" type="number"/>
        </label>Запросы в секунду<br>
        <label>
            <input th:field="*{rpsStart}" type="number"/>
        </label>Запросы в секунду при запуске теста<br>
        <label>
            <input th:field="*{rpsEnd}" type="number"/>
        </label>Запросы в секунду в конце теста<br>
        <label>
            <input th:field="*{rpsStep}" type="number"/>
        </label>Шаг запросов в секунду<br>
        <label>
            <input th:field="*{instances}" type="number"/>
        </label>Количество одновременных потоков<br>
    </fieldset>
    <fieldset>
        <label>
            <input th:field="*{autostopEnabled}" type="checkbox"/>
        </label>Добавить авто-остановку теста при появлении ошибок<br>
        <hr/>
        <label>
            <input th:field="*{autostopHttpCode}" type="text"/>
        </label>Http-код остановки<br>
        <label>
            <input th:field="*{autostopHttpLimit}" type="text"/>
        </label>Количество/процент http-кодов в ответах<br>
        <label>
            <input th:field="*{autostopHttpWindow}" type="text"/>
        </label>Окно http-кодов<br>
        <hr/>
        <label>
            <input th:field="*{autostopNetCode}" type="text"/>
        </label>Net-код остановки<br>
        <label>
            <input th:field="*{autostopNetLimit}" type="text"/>
        </label>Количество/процент net-кодов в ответах<br>
        <label>
            <input th:field="*{autostopNetWindow}" type="text"/>
        </label>Окно net-кодов<br>
        <hr/>
        <label>
            <input th:field="*{autostopResponseTime}" type="text"/>
        </label>Время ответа сервера<br>
        <label>
            <input th:field="*{autostopTimeWindow}" type="text"/>
        </label>Окно времени ответа<br>
    </fieldset>
    <button type="submit">Загрузить</button>
</form>
</body>
</html>